html, body {
    font-family: arial;
    margin: 0 auto;
    max-width: 21cm;
    height: 100%;
    font-size: 14px;
    letter-spacing: 0.05em;
    background-color: white;
}

@media print {
    @page {
        size: A4;
    }
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    width: 100%;
    float: left;
    padding: 5px;
    background-color: rgb(209, 209, 209); 
    color: rgb(51, 51, 51);
    text-align: center; 
    font-size: 15px; 
    border-radius: 20px; 
    font-weight: bold;
    border: 1px solid black;
}

.head {
    text-align: center;
    margin-bottom: 20px;
}
.head p {
    margin: 5px;
}

h2 {
    font-size: 14px;
}

div {
    margin-bottom: 30px;
}

.conteudo {
    margin: 20px;
}

.objetivo p {
    text-align: justify;
    line-height: 27px;
}

.footer {
    float: right;
}

